body {
  background-color: #303443;
  font-family: "YouTube Sans", "Roboto", sans-serif;
}

.container {
  color: #DAD7D4;
  width: 230px;
}

.title {
  color: #DAD7D4;
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

.textbox {
  font-size: 14px;
  margin: 0;
  padding: 0px 2px;
  width: 100%;
}

.bookmarks {
  margin: 5px 5px 0px 10px;
  padding: 3px 3px 0px 2px;
}

.bookmark {
  display: flex;
  margin-bottom: 7px;
  padding-bottom: 7px;
}

.bookmark-title {
  padding-left: 2px;
  padding-top: 5px;
}

.bookmark-controls img {
  cursor: pointer;
  height: 24px;
  margin: 0 4px;
  width: 24px;
}

.bookmark-controls {
  flex: auto;
  text-align: right;
}

.row {
  padding-bottom: 15px;
}

p {
  margin-bottom: 0px;
  margin-top: 12px;
}

i {
  font-size: 13px;
}